<div class="read_post">
<p class="p"><b>New post</b></p>
	<%= form_for :groups, url: groups_path do |f| %>
	  <p>
	    <%= f.label :name %><br>
	    <%= f.text_field :name, class: "lable" %>
	  </p>
	  <%= f.submit class: "myButton" %>
	<% end %>
</div>