<div class="read_post">
<p class="p"><b>New Group</b></p>
	<%= form_for :group, url: groups_path do |f| %>
	  <p>
	    <%= f.label :name %><br>
	    <%= f.text_field :name, class: "lable", id: 'group_name' %>
	  </p>
	  <%= f.submit class: "myButton" %>
	<% end %>
</div>