<div class="read_post">
<%= link_to "Create Post", new_group_post_path(@group.id), class: 'myButton' %>

<% @post.each do |post| %>
	<div class="box" >
		<h2><%= post.title %></h2>
		<br/>
		<p class="p">
		<%= post.text %>
	</p>
	<%= button_to 'Read More', group_post_path(post.group_id, post), method: "get" %>
</div>

<% end %>
</div>