.box {
    padding: 10px 40px;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
    float: left;
    margin-right: 70px;
    margin-bottom: 30px;
    }

    .div-col {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    padding: 0px 0px 0px 40px;
}
  .p{
  	white-space: nowrap;
  	overflow: hidden;
  	font-size: 110%;
  }

 .header{
 	padding: 10px 40px 40px;
 	text-align: center;
 	color: #A83636;
	font-size: 30px;
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
	background: #F5F1F0;	 	
 }

 .title{
 	padding: 10px 10px 10px;
 	background: #9DEBFA;
 }


 .logout {
	position: absolute; 
	right: 50px;
	font-size: 15px;
}

 .myButton {
	background-color:#7892c2;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 0px 4px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.lable{
	width: 300px;
	height: 20px;
	border: 3px solid #cccccc;
	padding: 5px;
}

textarea.styled {
	width: 900px;
	height: 500px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	resize: none;
}

.read_post {
	padding: 70px 100px;
}

.blog_content {
	font-size: 20px;
	font-style: italic;	
	white-space: pre-wrap;
}

