body {
background: #F5F1F0;
}

.log_in_form{
	color: #EDF5F7;
	background-color: #72756F;
	padding: 100px 0px 100px 0px;
	margin: 10px 400px 500px 400px ;
}

#user_email{
	width: 400px;
	height: 20px;
}

#user_password{
	width: 400px;
	height: 20px;
}

#flash_messages{
	background-color: #D16D73;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;
}

