body {
background-image: image-url('back_3.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

 .header{
 	padding: 5px 40px;
 	text-align: center;
 	color: #A83636;
 	/*background-color: #E4EBED;*/
	font-size: 30px;
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
	background: -webkit-linear-gradient(bottom, rgba(242,244,245,0), rgba(242,244,245,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(242,244,245,0), rgba(242,244,245,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(242,244,245,0), rgba(242,244,245,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(242,244,245,0), rgba(242,244,245,1)); /* Standard syntax (must be last) */
 }

.log_in_form{
	padding: 100px 0px 100px 0px;
	margin: 10px 400px 500px 400px ;
}

#user_email{
	width: 400px;
	height: 20px;
}

#user_password{
	width: 400px;
	height: 20px;
}

#flash_messages{
	background-color: #D16D73;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;
}

.group_header{
	font-size: 26px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	margin-top: 25px;
}

.group_owner{
	font-size: 20px;
	text-decoration: underline;
	padding: 10px;
}

 .logout {
	position: absolute; 
	right: 50px;
	font-size: 15px;
}

.smallButton, .page, .first, .last, .next, .prev {
	background-color:#7892c2;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:5px 10px;
	text-decoration:none;
}

.requested_users{
	position: fixed;
    top: 250px;
    left: 25%;
    padding: 20px;
}

.group_members{
	position: fixed;
    top: 250px;
    left: 50%;
    padding: 20px;
}


